#car-picture {
  width: 50%;
  float: right;
}
h1 {
  font-family: system-ui;
  color: red;
  font-size: 30px;
  text-align: center;
}
body {
  background-color: lightblue
}

#title-challenges {
  color: blue;
  text-align: center;
  border: 3px dashed darkblue;
  padding: 5px 10px;
  width: fit-content;
}

#title-problems {
  color: green;
  text-align: center;
  border: 3px dashed olive;
  padding: 5px 10px;
  width: fit-content;
}

#title-results {
  color: red;
  text-align: center;
  border: 3px dashed maroon;
  padding: 5px 10px;
  width: fit-content;
}

#title-script-output {
  color: orange;
  text-align: center;
  border: 3px dashed brown;
  padding: 5px 10px;
  width: fit-content
}

#content {
  border: 15px solid gold;
  padding: 20px;
}
