input[type="number"] {
    width: 40px;
}
input[type="text"] {
    width: 100px;
}

input#max {
    width: 60px;
}

table {
    padding: 20px;
}

input, button {
    font-size: 90%;
}

div#input, div#output {
    border: solid 1px #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}


#output p {
    margin-top: 0;
    margin-bottom: 0;
}

#output.cols {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

.error {
    color: green;
    font-weight: lighter;
}
